<div class="container">
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price (USD)</th>
            <th scope="col">Market Cap (USD)</th>
            <th scope="col">Trend 24 hours (%)</th>
            <th scope="col">Trend 7 days (%)</th>
            <th scope="col">Reload</th>
            <th scope="col">Inspect</th>
        </thead>
        <tbody>
            <tr *ngFor="let currency  of currencies$  | async ; let i=index">
                <th scope="row">{{i + 1}}.</th>
                <td>{{currency.symbol}}</td>
                <td>{{currency.name}}</td>
                <td>{{currency.price}}</td>
                <td>{{currency.cap}}</td>
                <td [class]="styleTrend(currency.percentChange24h)">{{currency.percentChange24h}}</td>
                <td [class]="styleTrend(currency.percentChange7d)">{{currency.percentChange7d}}</td>
                <td>
                    <div type="button" class="refresh-button" (click)="refresh(currency)"></div>
                </td>
                <td>
                    <div type="button" class="inspect-button" (click)="inspect(currency)"></div>
                </td>
            </tr>
        </tbody>
    </table>
</div>