<div class="container">
    <div class="row">
        <button class="col-2 btn btn-primary" (click)="load()">Reoad</button>
    </div>
    <table class="table">
        <thead>
            <th scope="col">#</th>
            <th scope="col">Code</th>
            <th scope="col">Name</th>
            <th scope="col">Price (USD)</th>
            <th scope="col">Market Cap (USD)</th>
            <th scope="col">Trend 24 hours (%)</th>
            <th scope="col">Trend 7 days (%)</th>
            <th scope="col">Add To Favorites</th>
        </thead>
        <tbody>
            <tr *ngFor="let currency of currencies$ | async; let i=index">
                <th scope="row">{{i + 1}}.</th>
                <td>{{currency.symbol}}</td>
                <td>{{currency.name}}</td>
                <td>{{currency.price}}</td>
                <td>{{currency.cap}}</td>
                <td [class]="styleTrend(currency.percentChange24h)">{{currency.percentChange24h}}</td>
                <td [class]="styleTrend(currency.percentChange7d)">{{currency.percentChange7d}}</td>
                <td><input type="checkbox" [ngModel]="currency.selected" (change) = "onCurrencySelect($event, currency)"></td>
            </tr>
        </tbody>
    </table>
</div>