<div class="alert alert-danger" role="alert" *ngIf="showWarning">
    <strong>Holy guacamole!</strong> You should check in on some of those fields below.
</div>

<h4>Add New Currency</h4>
<form [formGroup]="currencyForm" (ngSubmit)="addCurrency()">
    <div class="container">
        <div class="row">
            <input formControlName="price" placeholder="Enter Price" class="col-6" numbersOnly>
        </div>
        <div class="row">   
            <input formControlName="name" placeholder="Enter Name" class="col-6">
        </div>
        <div class="row">
            <input formControlName="id" placeholder="Enter ID" class="col-6">
        </div>
        <div class="row">
            <button type="submit" class="col-2 btn btn-primary">Add</button>
        </div>
    </div>
</form>